*  {
margin: 0px;
} 

/*Inicia el estilo del header*/
header{
display:flex;
background: #F9D8D2;
}
.nav-menu{
display: flex;
justify-content: flex-end;
width: 100%;
box-shadow: 0 0 29px 0 rgba(10, 10, 10, 0.25); 
}    
    
.nav-list{
display: flex;
flex-wrap: wrap;  
}

.ham-menu{
display:none;
}

.menu-item{
list-style: none;
font-size: 18px;
font-family: 'Varela', sans-serif;
margin:30px;
padding: 8px;
opacity: 0.6;
transition: 0.3s;
}
.menu-item:hover{
opacity: 1;
font-size: 22px;
font-weight: 600;
}

.contact-button{
background-color: #F76463;
color: white;
border-radius: 100px;
}
.contact-button:hover{
color: white;
transform: scale(1.2);
}
/*Termina el estilo del header*/

/*Inicia esección mi info*/

.main-container{
display: flex;
flex-direction: row;
}

.info-section{
display: flex;
flex-wrap: wrap;
align-items: center;
}
.personal-info{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-grow: 1;
padding-left: 30px;
}

.greeting, .name{
font-weight: 900;   
}
    
.greeting{
font-family:'Montserrat', sans-serif;
font-size: 50px;
margin-top: 35px;
}
.name{
color: #F76463;
font-family: 'Satisfy', cursive;
font-size: 160px;
}

.my-description{
color:#8f8f8f;
font-family: 'Varela', sans-serif;
font-size: 20px;
margin-bottom: 40px;
margin-top: 20px;
}
.ocuppation{
padding:20px;
}

a{
text-decoration: none;
color: black;
}

a:visited{
color: black;
}

.my-image{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 2;
}

.me{
width:80%;
height: 80%;
}
/*Termina sección que habla de mi*/

/*Inicia sección de conocimientos*/
.knowledge-section{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding-top: 100px;
padding-bottom: 100px;
background-color:#F9D8D2;
}

.knowledge-paragraph{
color: black;
font-family: 'Varela', sans-serif;
font-size: 25px;
padding-top: 10px;
padding-bottom: 10px;
}

 /*inicia listado de conocimientos*/
.maincontainer-skill{
display: flex;
justify-content: center;
width:100%;
max-width: 900px;
flex-wrap: wrap;
}
.container{
display: flex;
flex-direction: column;
height: 200px;
width: 200px;
margin: 15px;
background-color:  #F76463;
border: 3px solid #fafafa;
border-radius: 20px;
padding: 30px;
text-align: center;
}

.icon, .skill-txt{
text-align: center;
font-size: 100px;
color: #fafafa;
padding-top: 20px;
         }

.skill-txt{
font-size: 30px;
font-family: 'Varela', sans-serif;
}
/*Termina sección de habilidades*/
         
/*Inicia sección de frase motivadora*/
.motiv-quote{
background-color:#fafafa;
color: #F76463;
 }

.phrase-container{
display: flex;
flex-direction: column;
align-items: center;
height: 400px;
padding-top:100px;
}

.fa-quote-right{
font-size: 80px;
text-align: center;
padding-bottom: 30px;
}

.text-phrase{
font-family: 'Varela', sans-serif;
font-size: 25px;
text-align: center;
}

.author-phrase{
font-family: Montserrat;
font-size: 30px;
font-weight: 600;
padding-top: 15px;
}
/*Termina sección de frase motivadora*/

 /*Inicia sección de proyectos*/
.projects{
    flex-direction: column;
    display: flex;
    /* no es necesario justify-content: flex start ya que es el valor por defecto */
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.project-header{
    padding-top:100px;
    padding-bottom: 25px
}

.project-nav{
justify-content: center;
align-items: center;
}

.button-2{
background-color:    #F76463;
border-radius: 50px;
color: white;
text-decoration:none;
font-size: 18px;
font-family: 'Varela', sans-serif;
border: none;
width: 120px;
}

.container-projects-section{
box-sizing: border-box;
height: auto;
width: 60%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding-bottom: 150px;
}

article{
height: 250px;
width: 250px;
border: 2px solid grey;
border-radius: 10px;
display: flex;
flex-direction: column;
margin: 15px;
padding-bottom: 5px;
justify-content: center;
align-items: center;
} 

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow:2;
    overflow: hidden;
}

.proj-img{
    height: 70%;
}

.p-container{
    flex-grow: 1;
}



.project-text{
font-family: 'Varela', sans-serif;
font-size: 20px;
padding-top: 10px;
color:#F76463 ;
text-align: center;
}
/*Finaliza sección de proyectos*/

/*Inicia sección de formulario de contacto*/
.contact-section{
    display: flex;
    background-color:#F2F2F2;
    justify-content: center;
    align-items: center;
}

.contact-me, .write-to-me{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.contact-me-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.contact-text{
   padding-top: 20px;
   text-align: justify;
   font-size: 18px;
   font-family:'varela', sans-serif;
}

.social-media{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.menu-item-social-media{
    list-style: none;
    margin: 15px;
    }

.social-media-text:hover{
    background-color:white;
    border-radius: 50px;
    padding: 10px;
    font-size: larger;
    color: tomato;
}

.contact-icon{
    font-size: 30px;
    text-align: left;
    color:#F76463 ;

}
.social-media-text{
    color:white;
    font-size: 20px;
    font-weight: bold;
}

/*Inicia sección de footer*/
footer{
display: flex;
flex-direction: column;
align-items: center;
background-color:#F76463;  
}
/* inicia el menu-footer*/
.footer-menu{
width: 100%;
height: 40px;
display: flex;
flex-direction: column;
padding-top: 50px;
background-color: #F76463;
color: #fafafa;
}

.foot{
align-items: center;
justify-content: center;
}
/*termina el menu-footer*/

/*inicia sección de redes sociales de contacto del footer*/ 
.socialnet-nav{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-right: 100px;
}

.socialnet-link{
display: flex;
padding-top:30px;
}

.foot-img{
font-size: 50px;
color: white;
}
/*este es el pie del footer*/

.created-by{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}
.p-footer{
font-family: 'Satisfy', cursive;
font-size: 30px;
color: white;
}
/*Fin de sección de footer*/

/*Inicia media query*/
@media(max-width:600px){
/*media query para los elementos del header*/
    *{
        max-width: 600px;
    }

    .menu-nav{
        height: 30px;
        width: 100%;
        background-color: #Ffffff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .head{
        display: none;
        }

        .menu-hamburguesa{
        height: 30px;
        color:#F76463 ; 
        display:flex;
        font-size:30px;
        }
/*media query para la sección sobre mi*/
      #hola, #misproy{
         justify-content: center;
         margin-left: 0;
         padding: 0;
      }
  
/*media query para sección de mis conocimientos*/
    .seccion-conocimientos{
        flex-wrap: wrap;
    }

    .habilidad-txt{
        padding-top: 5px;
    }

/*media query con consideraciones aplicables a varias partes del portfolio*/
    
     .head, .saludo, 
    .quien-soy, .autor-frase, 
    .titulo, .p-footer, .barra-proyectos{
        font-size: 20px;
        font-family: Montserrat;
    }

    .parrafo-conocimientos, .frase-texto,.boton,
     .boton2, .texto-proy, .habilidad-txt,.elemento-menu{
        font-family: 'Varela', sans-serif;
        font-size:18px;
     }
     .contenedor{
         height: 100px;
         width: 100px;
     }

     .icono{
         font-size: 80px;
         padding:5px;
         margin: none;
     }

/*media query de la sección de proyectos*/
     .barra-proyectos{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .titulo-proyectos{
        padding-left: 50px;
        /*Tuve que dar este padding en la media query porque no se ajustaba*/
    }

    /*media query del footer*/
    .footer{
        display: flex;
        height: auto;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
    }

        .foot{
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            flex-direction: column;
            padding-top:10px;
            margin: 5px;
            padding: 5px;
        }

        .elemento-menu{
           margin:0;
        }

        .footer-men{
            font-size: 12px;
        }

        .barra-redes{
            padding-top:80px;
            padding-bottom: 5px;
        }
        .p-footer{
            font-family: 'Satisfy', cursive;
            padding-left:30px;
        }

        .foot-img{
            font-size: 50px;
        }
}
/*termina la media query*/
