*  {
    margin: 0px;
    } 

/*Inicia el estilo del header*/
header{
    display:flex;
    background: #F9D8D2;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-shadow: 0 0 29px 0 rgba(10, 10, 10, 0.25); 
    }    
    
.nav-list{
    display: flex;
    flex-wrap: wrap;  
        }

 .ham-menu{
    display:none;
        }

 .menu-item{
list-style: none;
font-size: 18px;
font-family: 'Varela', sans-serif;
margin:30px;
padding: 8px;
opacity: 0.6;
transition: 0.3s;
}
.menu-item:hover{
opacity: 1;
font-size: 22px;
font-weight: 600;
}

.contact-button{
background-color: #F76463;
color: white;
border-radius: 100px;
}
.contact-button:hover{
color: white;
transform: scale(1.2);
}
/*Termina el estilo del header*/

/*Inicia esección mi info*/

.main-container{
display: flex;
flex-direction: row;
padding: 15px;
}

.info-section{
display: flex;
flex-wrap: wrap;
flex-grow: 1;
margin-left:60px;
margin-right:60px;
justify-content: center;
}
.personal-info{
display: flex;
flex-direction: column;
align-self: center;
align-items: flex-start;
}

.greeting, .name{
font-weight: 900;   
}
    
.greeting{
font-family:'Montserrat', sans-serif;
font-size: 60px;
margin: 5px;
}
.name{
color: #F76463;
font-family: 'Satisfy', cursive;
font-size: 160px;
}

.quien-soy{
color:#8f8f8f;
font-family: 'Varela', sans-serif;
font-size: 20px;
margin-bottom: 40px;
margin-top: 20px;
}
.ocuppation{
padding:20px;
}

a{
text-decoration: none;
color: black;
}

a:visited{
color: black;
}

.contenedor-imagen-yo{
display: flex;
justify-content: center;
flex-grow: 2;
}
.yo{
width:auto;
height: auto;
}
/*Termina sección que habla de mi*/

/*Inicia sección de conocimientos*/
 .seccion-conocimientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:#F9D8D2;
}
.parrafo-conocimientos{
color: black;
font-family: 'Varela', sans-serif;
font-size: 25px;
padding-top: 10px;
padding-bottom: 10px;
}

 /*inicia listado de conocimientos*/
.habilidad-contenedor-principal{
display: flex;
justify-content: center;
width:100%;
max-width: 900px;
flex-wrap: wrap;
}
.contenedor{
display: flex;
flex-direction: column;
height: 200px;
width: 200px;
margin: 15px;
background-color:  #F76463;
border: 3px solid #ee7766;
border-radius: 20px;
padding: 30px;
text-align: center;
}

.icono, .habilidad-txt{
text-align: center;
font-size: 100px;
color: #fafafa;
padding-top: 20px;
         }

.habilidad-txt{
font-size: 30px;
font-family: 'Varela', sans-serif;
}
/*Termina sección de habilidades*/
         
/*Inicia sección de frase motivadora*/
 .frase-motiv{
     /* gracias por esto! */
     background-color:#fafafa;
 }

    .contenedor-frase{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;

        /* no es necesario repetir el background color, ya que se lo da su contenedor */
        background-color:#fafafa;
        padding-top:100px;
    }

     .fa-quote-right{
         font-size: 80px;
         text-align: center;

         /* El color de texto se hereda: si se lo das a .frase-motiv, por ejemplo, no es necesario repetirlo
         tres veces en los distintos elementos hijos.  */
         color: #F76463;
         padding-bottom: 30px;
     }

     .frase-texto{
        font-family: 'Varela', sans-serif;
        font-size: 25px;
        text-align: center;
        color:  #F76463;
     }

     .autor-frase{
        font-family: Montserrat;
        font-size: 30px;
        /* recorda que font weight no va con px */
        font-weight: 600px;
        color: #F76463;
        padding-top: 15px;
     }
/*Termina sección de frase motivadora*/

 /*Inicia sección de proyectos*/
.proyectos{
    /* ni width ni height son necesarios aqui, ya que estas son las medidas que se ponen por defecto */
    width:100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    /* no es necesario justify-content: flex start ya que es el valor por defecto */
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.titulo-proyectos{
    padding-top:100px;
    padding-bottom: 25px
}

.barra-proyectos{
    justify-content: center;
    align-items: center;

    /* aqui tuviste que poner un margin bottom porque le diste un height. Si borras ambos, 
    tu barra se veria igual - y el codigo estaria mejor.  */
    margin-bottom: 50px;
    height: 50px;

    /* no es necesario background color ni box shadow none: ambos estan por defecto asi */
    background-color: #Ffffff;
    box-shadow: none;
}

    .boton2{
      background-color: #F76463;
      color: white;
      text-decoration:none;
      font-size: 18px;
      font-family: 'Varela', sans-serif;
      border: none;
      width: 120px;
    }

.contenedor-proyectos{
   height: auto;
   width: 60vw;

   /* no es necesario flex direction row, ya que se pone por defecto */
   flex-direction: row;
   justify-content: center;
   align-items: center;
   /* no es necesario background-color */
   background-color: #Ffffff;
   display: flex;
   flex-wrap: wrap;
   padding-bottom: 150px;
    }

    article{
        height: 250px;
        width: 250px;
        /* no es necesario background-color aqui */
        background-color: #Ffffff;
        border: 2px solid grey;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

        .img-proy{
            padding-top:35px;
            padding-left:30px;
            height: 150px;
            width: 180px;
        }

        .texto-proy{
            font-family: 'Varela', sans-serif;
            font-size: 20px;
            color:#F76463 ;
            text-align: center;
        }
/*Ifinaliza sección de proyectos*/


/*Inicia sección de footer*/
footer{

    /* no es buena practica darle height a las cosas, ya que queremos que se acomoden a 
    lo que les dice su contenido. tampoco es necesario width 100% */
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F76463;  
}
    /* inicia el menu-footer*/
    .menu-footer{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        background-color: #F76463;
    }

    .foot{
        /* no es necesario box shadow none */
        box-shadow: none;
        align-items: center;
        justify-content: center;
    }
    /*termina el menu-footer*/

    /*inicia sección de redes sociales de contacto del footer*/
    
    .barra-redes{
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
        .redes-contacto{
            display: flex;
            padding-top:30px;
        }

            .foot-img{
                font-size: 50px;
                color: white;
            }
    
    /*este es el pie del footer*/
    .p-footer{
        text-align: center;
        font-family: 'Satisfy', cursive;
        font-size: 30px;
        color: white;
    }
/*Fin de sección de footer*/

/*Inicia media query*/
@media(max-width:600px){
/*media query para los elementos del header*/
    *{
        max-width: 600px;
    }

    .menu-nav{
        height: 30px;
        width: 100%;
        background-color: #Ffffff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .head{
        display: none;
        }

        .menu-hamburguesa{
        height: 30px;
        color:#F76463 ; 
        display:flex;
        font-size:30px;
        }
/*media query para la sección sobre mi*/
      #hola, #misproy{
         justify-content: center;
         margin-left: 0;
         padding: 0;
      }
  
/*media query para sección de mis conocimientos*/
    .seccion-conocimientos{
        flex-wrap: wrap;
    }

    .habilidad-txt{
        padding-top: 5px;
    }

/*media query con consideraciones aplicables a varias partes del portfolio*/
    
     .head, .saludo, 
    .quien-soy, .autor-frase, 
    .titulo, .p-footer, .barra-proyectos{
        font-size: 20px;
        font-family: Montserrat;
    }

    .parrafo-conocimientos, .frase-texto,.boton,
     .boton2, .texto-proy, .habilidad-txt,.elemento-menu{
        font-family: 'Varela', sans-serif;
        font-size:18px;
     }
     .contenedor{
         height: 100px;
         width: 100px;
     }

     .icono{
         font-size: 80px;
         padding:5px;
         margin: none;
     }

/*media query de la sección de proyectos*/
     .barra-proyectos{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .titulo-proyectos{
        padding-left: 50px;
        /*Tuve que dar este padding en la media query porque no se ajustaba*/
    }

    /*media query del footer*/
    .footer{
        display: flex;
        height: auto;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
    }

        .foot{
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            flex-direction: column;
            padding-top:10px;
            margin: 5px;
            padding: 5px;
        }

        .elemento-menu{
           margin:0;
        }

        .footer-men{
            font-size: 12px;
        }

        .barra-redes{
            padding-top:80px;
            padding-bottom: 5px;
        }
        .p-footer{
            font-family: 'Satisfy', cursive;
            padding-left:30px;
        }

        .foot-img{
            font-size: 50px;
        }
}
/*termina la media query*/
